.main-header {
  background: #f4f4f6 !important;
  padding: 6rem;
}
@media (max-width: 772px) {
  .main-header {
    padding: 4rem;
  }
}

.section-form {
  background: #fff;
  margin: auto;
}

.section-form form {
  width: 46%;
}

@media (max-width: 772px) {
  .section-form {
    padding: 15px;
  }
  .section-form form {
    width: 100%;
  }
}

.form-div {
  width: 100%;
}

.plH1 {
  color: #222057;
}

.plH2 {
  color: #222057;
}

.caption-span {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;
}

input::placeholder {
  font-size: 14px;
  color: #9ca3af52;
  margin-bottom: 10px;
}

.plBtn {
  background: #f59e0b;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 55%;
}

@media (max-width: 772px) {
  .plBtn {
    width: 100%;
  }
}

.plBtn:hover {
  color: #fff;
  background: #f59f0bda !important;
}
